<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="EveMarketProphet.Properties.Authentication" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="EveMarketProphet.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FSharp.Core" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.4.0.0" newVersion="4.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Interactive.Async" publicKeyToken="94bc3704cddfc263" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.3000.0" newVersion="3.0.3000.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <EveMarketProphet.Properties.Authentication>
      <setting name="ClientId" serializeAs="String">
        <value />
      </setting>
      <setting name="ClientSecret" serializeAs="String">
        <value />
      </setting>
      <setting name="RefreshToken" serializeAs="String">
        <value />
      </setting>
    </EveMarketProphet.Properties.Authentication>
    <EveMarketProphet.Properties.Settings>
      <setting name="MinBaseProfit" serializeAs="String">
        <value>500000</value>
      </setting>
      <setting name="IsHighSec" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MinProfitPerJump" serializeAs="String">
        <value>900000</value>
      </setting>
      <setting name="Capital" serializeAs="String">
        <value>500000000</value>
      </setting>
      <setting name="MaxCargo" serializeAs="String">
        <value>12582</value>
      </setting>
      <setting name="IgnoreContraband" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IgnoreNullSecStations" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AccountingSkill" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="DefaultLocation" serializeAs="String">
        <value>30000142</value>
      </setting>
      <setting name="MinFillerProfit" serializeAs="String">
        <value>100000</value>
      </setting>
      <setting name="PrivateCrest" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FilterShowAmount" serializeAs="String">
        <value>10</value>
      </setting>
    </EveMarketProphet.Properties.Settings>
  </userSettings>
</configuration>
